<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Metro"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout class="list-group">
            <!-- <StackLayout class="form">
                    <StackLayout class="input-field">
                            <Label class="label" text="" textWrap="true"></Label>
                            <TextField #searchTxt hint="Search" autocorrect="false" returnKeyType="done" (returnPress)="searchData(searchTxt.text)" class="input input-border"></TextField>
                    </StackLayout>
            </StackLayout>
            <Button text="Search" (tap)="searchData(searchTxt.text)" class="btn btn-primary btn-active"></Button> -->
            <StackLayout *ngFor="let metro of metroInfo" class="list-group-item">
                <Label [text]="metro.Line"></Label>
                <Label [text]="metro.DestinationName"></Label>
                <Label [text]="metro.Min"></Label>
            </StackLayout>
            <!-- <Button class="btn btn-primary btn-active" id="button" text="Refresh" (tap)="onTap($event)"></Button> -->
        </StackLayout>
    </ScrollView>
</GridLayout>