<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
    
    <ScrollView>
        <StackLayout class="list-group">
            <!-- typeahad search -->
            <StackLayout class="p-15">
                    <StackLayout class="input-field">
                        <Label text="Select a Station" class="label"></Label>
                        <RadAutoCompleteTextView [items]="autocompleteMetroStations" suggestMode="Suggest" displayMode="Plain" (didAutoComplete)="searchData($event)">
                            <SuggestionView tkAutoCompleteSuggestionView>
                                <ng-template tkSuggestionItemTemplate let-item="item">
                                    <GridLayout columns="auto, *">
                                        <Label col="1" [text]="item.text" class="p-l-5"></Label>
                                    </GridLayout>
                                </ng-template>
                            </SuggestionView>
                        </RadAutoCompleteTextView>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
            </StackLayout>

            <ActivityIndicator [busy]="processing" rowSpan="3"></ActivityIndicator>

            <ScrollView *ngIf="metroExists" row="1">
                <StackLayout>
                    <StackLayout *ngFor="let metro of metroInfo" class="list-group-item m-15">
                        <Label class="h3 m-5" [text]="metro.Line"></Label>
                        <Label class="h3 m-5" [text]="metro.DestinationName"></Label>
                        <Label class="h3 m-5" [text]="metro.Min"></Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
            <ScrollView *ngIf="!metroExists" row="1">
                <GridLayout class="list-group-item m-15">
                    <Label text="No Trains Available"></Label>
                </GridLayout>
            </ScrollView>
        </StackLayout>
    </ScrollView>
</GridLayout>

