<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content" rows="auto, *">

    <StackLayout class="list-group">
        <!-- typeahad search -->
        <StackLayout class="p-15">
                <StackLayout class="input-field">
                    <Label text="Select a Station" class="label"></Label>
                    <RadAutoCompleteTextView [items]="autocompleteMetroStations" suggestMode="Suggest" displayMode="Plain" (didAutoComplete)="searchData($event)">
                        <SuggestionView tkAutoCompleteSuggestionView>
                            <ng-template tkSuggestionItemTemplate let-item="item">
                                <GridLayout columns="auto, *">
                                    <Label col="1" [text]="item.text" class="p-l-5"></Label>
                                </GridLayout>
                            </ng-template>
                        </SuggestionView>
                    </RadAutoCompleteTextView>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
        </StackLayout>

        <ActivityIndicator [busy]="processing" rowSpan="3"></ActivityIndicator>
        <!-- train map -->
        <Image src="~/img/icon.jpg"></Image>

        <!-- search results -->
        <ScrollView *ngIf="!metroExists" row="1">
            <GridLayout class="list-group-item m-15">
                <Label text="No Trains Available"></Label>
            </GridLayout>
        </ScrollView>

        <StackLayout *ngIf="metroExists">
                <PullToRefresh (refresh)="refreshList($event)">
                    <ScrollView class="page" row="1">
                        <StackLayout>
                            <StackLayout *ngIf="groupByNameMetroInfo.GR">
                                <StackLayout [items]="groupByNameMetroInfo.GR">
                                    <Label text="Green Line" class="train-label m-15"></Label>
                                    <StackLayout *ngFor="let metro of groupByNameMetroInfo.GR" class="list-group-item m-15">
                                        <Label class="h3 m-5" [text]="metro.Line"></Label>
                                        <Label class="h3 m-5" [text]="metro.DestinationName"></Label>
                                        <Label class="h3 m-5" [text]="metro.Min"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="groupByNameMetroInfo.YL">
                                <StackLayout [items]="groupByNameMetroInfo.YL">
                                    <Label text="Yellow Line" class="train-label m-15"></Label>
                                    <StackLayout *ngFor="let metro of groupByNameMetroInfo.YL" class="list-group-item m-15">
                                        <Label class="h3 m-5" [text]="metro.Line"></Label>
                                        <Label class="h3 m-5" [text]="metro.DestinationName"></Label>
                                        <Label class="h3 m-5" [text]="metro.Min"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="groupByNameMetroInfo.SV">
                                <StackLayout [items]="groupByNameMetroInfo.SV">
                                    <Label text="Silver Line" class="train-label m-15"></Label>
                                    <StackLayout *ngFor="let metro of groupByNameMetroInfo.SV" class="list-group-item m-15">
                                        <Label class="h3 m-5" [text]="metro.Line"></Label>
                                        <Label class="h3 m-5" [text]="metro.DestinationName"></Label>
                                        <Label class="h3 m-5" [text]="metro.Min"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="groupByNameMetroInfo.BL">
                                <StackLayout [items]="groupByNameMetroInfo.BL">
                                    <Label text="Blue Line" class="train-label m-15"></Label>
                                    <StackLayout *ngFor="let metro of groupByNameMetroInfo.BL" class="list-group-item m-15">
                                        <Label class="h3 m-5" [text]="metro.Line"></Label>
                                        <Label class="h3 m-5" [text]="metro.DestinationName"></Label>
                                        <Label class="h3 m-5" [text]="metro.Min"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="groupByNameMetroInfo.RD">
                                <StackLayout [items]="groupByNameMetroInfo.RD">
                                    <Label text="Red Line" class="train-label m-15"></Label>
                                    <StackLayout *ngFor="let metro of groupByNameMetroInfo.RD" class="list-group-item m-15">
                                        <Label class="h3 m-5" [text]="metro.Line"></Label>
                                        <Label class="h3 m-5" [text]="metro.DestinationName"></Label>
                                        <Label class="h3 m-5" [text]="metro.Min"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="groupByNameMetroInfo.OR">
                                <StackLayout [items]="groupByNameMetroInfo.OR">
                                    <Label text="Orange Line" class="train-label m-15"></Label>
                                    <StackLayout *ngFor="let metro of groupByNameMetroInfo.OR" class="list-group-item m-15">
                                        <Label class="h3 m-5" [text]="metro.Line"></Label>
                                        <Label class="h3 m-5" [text]="metro.DestinationName"></Label>
                                        <Label class="h3 m-5" [text]="metro.Min"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </ScrollView>
                </PullToRefresh>
        </StackLayout>

    </StackLayout>

</GridLayout>

